html {
    font-family: 'Lucida Sans', Arial;
    font-size: 11px;
}

/* Charts */
#chart {
    width: 99%;
    min-width: 300px;
    height: 400px;
}

svg {
	background-color: #fafafa;
	border: 1px solid #eeeeee;
	border-radius:3px;
    margin-left: 12px;
}
.title {
	fill: #000000;
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
}

/* Legend */
.sep {
	stroke: #EEEEEE;
	stroke-width: 1;
}
.legend {
	font-family: Arial, sans-serif;
	font-size: 9px;
}

/* Axis */
.axis path,
.axis line {
	fill: none;
	stroke: #dddddd;
	stroke-width:1px;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: Arial, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
    word-spacing: -1px;
    fill: #878787;
}
/* Gridlines */
.grid .tick {
	stroke: #eeeeee;
    opacity: 0.7;
}
.grid path {
	stroke-width: 1;
}
.grid .zero-line line {
    stroke: #ccdddd;
    stroke-width: 1px;
	shape-rendering: crispEdges;
}
/* Line Chart */
.series .line {
    opacity: 1;
	stroke-width:2px;
}
.series .line:hover {
    opacity: 0.6;
}
.series .marker {
	stroke-width:2px;
    fill: #ffffff;
}
.series .marker:hover {
	stroke-width:2px;
    fill: #fff;
}
/* Area Chart */
.series .area {
	fill: steelblue;
}

/* Bar Chart */
.bar {
    opacity: 0.8;
    stroke: #fff;  /* separates the bars with a white stroke */
    stroke-width:1px;
}
.bar:hover {
	opacity: 0.6;
    stroke: #fff; /* separates the bars with a white stroke */
    stroke-width:1px;
}

/* Pie Chart */
.slice {
    opacity: 0.8;
}
.slice text {
    fill: #fff;
    font-size: 9px;
    opacity:0.8;
}
.slice:hover {
    opacity: 0.6;
}

/* Tooltip */
div.tooltip {
    position: absolute;
    text-align: left;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 9px sans-serif;
    background: #fafafa;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    pointer-events: none;
    margin-left: 12px;

}

