html {
    font-family: Arial, sans-serif;
    font-size: 11px;
}

/* Charts */
#chart {
    height: 50%;
    min-width: 300px;
    min-height: 300px;
    position: fixed;
    width: 99%;
}

svg {
	background-color: #fafafa;
	border: 1px solid #eeeeee;
	border-radius:3px;
    margin-left: 12px;
}

.sep {
    stroke: #EEEEEE;
    stroke-width: 1;
}

.title {
	fill: #000000;
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
}

/* Legend */

.legend .item {
	font-family: Arial, sans-serif;
	font-size: 9px;
}

.legend .title {
    font-size: 9px;
}

/* Axis */
.axis path,
.axis line {
	fill: none;
	stroke: #dddddd;
	stroke-width:1px;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: Arial, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
    word-spacing: -1px;
    fill: #878787;
}
/* Gridlines */
.grid .tick {
	stroke: #eeeeee;
    opacity: 0.7;
}
.grid path {
	stroke-width: 1;
}
.grid .zero-line line {
    stroke: #ccdddd;
    stroke-width: 1px;
	shape-rendering: crispEdges;
}
/* Line Chart */
.series .line {
    opacity: 1;
	stroke-width:2px;
}
.series .line:hover {
    opacity: 0.6;
}
.series .marker {
	stroke-width:2px;
    fill: #ffffff;
}
.series .marker:hover {
	stroke-width:2px;
    fill: #fff;
}
/* Area Chart */
.series .area {
	fill: steelblue;
}

/* Bar Chart */
.bar {
    opacity: 0.8;
    stroke: #fff;  /* separates the bars with a white stroke */
    stroke-width:1px;
}
.bar:hover {
	opacity: 0.6;
    stroke: #fff; /* separates the bars with a white stroke */
    stroke-width:1px;
}

/* Pie Chart */
.slice {
    opacity: 0.8;
}
.slice text {
    fill: #fff;
    font-size: 9px;
    opacity:0.8;
}
.slice:hover {
    opacity: 0.6;
}

/* Tooltip */
.tooltip {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 55px;
    padding: 20px;
    font: 9px Arial;
    background: #fafafa;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    pointer-events: none;
    margin-left: 12px;
}

.tooltip::before {
    content: " ";
    position: absolute;
    top: -10px;  /* At the top of the tooltip */
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #EEEEEE transparent;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: -9px;  /* At the top of the tooltip */
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fafafa transparent;
}

.tooltip .title {
    font-size: 15px;
    font-weight: bold;
    color: #262c39;
    text-transform: none;
}

.tooltip .subtitle {
    font-size: 9px;
    font-weight: normal;
    color: #878787;
    text-transform: none;
}

.tooltip .color {
    float: left;
}

.tooltip .serie {
    color: #262c39;
    float: left;
    margin-left: 5px;
}

.tooltip .value {
    color: #262c39;
    float: right;
    margin-right: 30px;
}

.tooltip .percent {
    color: #262c39;
    float: right;
    margin-left: 5px;
}
